.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-container input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-container button {
    padding: 10px 15px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
  }
  
  .search-container button:hover {
    background-color: #e04e2a;
  }
  